<launch>
    <arg name="x_initial" default="0.0"/>
    <arg name="y_initial" default="0.0"/>
    <arg name="theta_initial" default="0.0"/>
    <arg name="motor_setpoint" default="180"/>
    <arg name="time" default="10.0"/>

    <rosparam command="load" file="$(find ros_esp32)/config/param.yml"/>

    <node name="control_node" pkg="ros_esp32" type="control_node" output="screen">
        <param name="x_initial" type="double" value="$(arg x_initial)"/>
        <param name="y_initial" type="double" value="$(arg y_initial)"/>
        <param name="theta_initial" type="double" value="$(arg theta_initial)"/>
        <param name="motor_setpoint" type="double" value="$(arg motor_setpoint)"/>
        <param name="time" type="double" value="$(arg time)"/>
    </node>
</launch>